VITE_SUPABASE_URL=https://mgpmchhphmohzuegrqol.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ncG1jaGhwaG1vaHp1ZWdycW9sIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzOTk1NTAsImV4cCI6MjEwMDk3NTU1MH0.QGUx-bkrQ6HtJtm_rYcxo7FY1eUGRMcxtFF_JC7Z6BI
